.heading{
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 17px;
}
.inputf{

}
.input-with-hint{
    width: 98% !important;  
    margin-left:7px;
   /* height: 98px !important; */
  
}
.table{
    width: 98% !important;
    margin-left:7px !important;
}
@media only screen and (max-width: 768px){
    .input-with-hint{
        width: 96% !important;
     
    }
}
/* autocomplete */
.App {
    text-align: center;
    /* margin-top: 200px; */
   
  }
 
  .input-with-hint {
    padding: 0 0 100px 6px;
    border: 0.9px solid #888;
    border-radius: 0.2em;
    font-size: 1em;
    color: #333;
    width: 100%;
  }
  .input-with-hint:hover {
    border-color: #66afe9;
  }
  .input-with-hint:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);      
  }
  code {
    background: #e6e6e6;
    padding: 10px;
    margin: 5px;
    line-height: 32px;
    font-size: 14px;
  }
.table_head{
    background-color:dodgerblue;
    color: white !important;
    font-weight: bold !important;
}
.table_row:nth-child(even){
      background-color: rgb(179, 179, 179);
}
.table_row:nth-child(odd){
  background-color: whitesmoke;
}