.formbuilder {
    flex-direction: column;
    min-height: 600px;
    display: flex;
}

@media screen and (min-width: 768px) {
    .formbuilder {
        flex-direction: row;
    }
}

.icon {
    cursor: pointer;
    height: 22px;
    width: 22px;
}

.flow-label {
    text-align: left;
    padding: 2px;
    min-width: 70px;
    min-height: 40px;
    margin: 8px 0px;
}

.button-node {
    padding: "20px";
    background-color: "white";
}

.button-node:hover {
    outline: 1px solid #a1a1a1;
    outline-offset: 8px;
    border-radius: 2px;
}

.heading-node {
    padding: "20px";
    background-color: "white";
}

.heading-node:hover {
    outline: 1px solid #a1a1a1;
    outline-offset: 8px;
    border-radius: 2px;
}


/* Properties Style */
.properties {
    display: block;
    border-left: 1px solid rgb(179, 179, 179);
    width: 320px;
    overflow: auto;
}

.properties-header {
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
    display: block;
    color: #333;
    text-align: center;
}

.properties-components {
    text-align: left;
    padding: 10px;
}

.properties-components span {
    font-size: 14px;
    width: 100%;
    display: block;
    margin-bottom: 4px;
}

.properties-components input {
    font-size: 14px;
    width: 94%;
    border-radius: 4px;
    outline: none;
    padding: 5px;
    margin-bottom: 8px;
}

.properties-components select {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    display: block;
    border-radius: 4px;
    outline: none;
    margin-bottom: 8px;
}


/* Sidebar Style */
.palette {
    border-right: 1px solid rgb(179, 179, 179);
    text-align: center;
}

.palette-components {
    height: 16px;
    max-height: 20px;
    display: flex;
    flex-wrap: wrap;
}

.palette .container {
    padding: 0px 6px;
    width: 250px;
    height: fit-content;
    overflow: hidden;
    font-size: 12px;
    background: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    border-bottom: 1px solid #dedede;
}

.palette .container-collapse {
    padding: 0px 6px;
    width: 250px;
    height: 0px;
    overflow: hidden;
    font-size: 12px;
    background: #fcfcfc;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    transition: all 1s;
}

.field-palette {
    display: flex;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    width: 75px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 2px;
}

.field-palette:hover {
    transform: scale(1.1);
}

.field-palette span {
    font-size: 10px;
    width: 100%;
    padding-top: 5px;
}

.palette-header {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
    display: block;
    color: #333;
}

.palette .components-header {
    display: flex;
    margin-top: 8px;
    font-size: 12px;
    width: 99.5%;
    background-color: #027ef8;
    color: white;
    border: 1px solid #027ef8;
    border-radius: 2px;
    cursor: pointer;
}

.palette .components-header .formheading {
    font-size: 12px;
    width: 100%;
    padding: 2px 0px;
    cursor: pointer;
}

.palette .components-header .header-arrow-down {
    height: 20px;
    width: 20px;
    text-align: right;
}

/* .palette .components-header .header-arrow-down:hover {
    background-color: #2187ec;
} */

.field-container {
    padding: 10px;
}

.field-container .icon-container {
    text-align: right;
}

.field-container .icon-container .icon {
    cursor: pointer;
    height: 22px;
    width: 22px;
}

.input-field {
    padding: 6px;
    margin: 4px;
    width: 100%;
}

.input-field-flex {
    padding: 6px;
    margin: 4px;
    width: 100%;
}

.label {
    padding: 6px;
    font-size: 14px;
}

.label-flex {
    padding: 6px;
    font-size: 14px;
}

.sidebar-icons {
    height: 22px;
    width: 24px;
    color: #027ef8;
    margin-right: 6px;
}