.link {
    border: 1px solid transparent;
    padding: 2px;
    min-width: 70px;
    min-height: 40px;
    margin: 8px 0px;
    width: 100%;
}

.link:hover {
  border: 1px solid #dedede;
  border-radius: 4px;
}